.footer {
  text-align: center;
  margin-top: 40px; /* Increase margin to move footer down */
  padding-bottom: 20px;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto; /* Add padding to create space between content and footer */
}

.copyright-label {
  font-weight: bold;
  color: #000; 
}

/* Add hover effect */
.copyright-input {
  border: 2px solid green; 
  background-color:rgb(243, 16, 16);
  color:white;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  height: 50px;
  width: 400px;
  font-size: 16px; 
  border-radius: 8px; 
  transition: background-color 0.3s, transform 0.3s; /* Transition for smoother effect */
}

/* Hover effect */
.copyright-input:hover {
  background-color: #0c7b00; /* Change background color on hover */
  transform: scale(1.05); /* Slight scale increase on hover */
}

// .footer {
//     text-align: center;
//     margin-top: 20px;
   
//   }
  
//   .copyright-label {
//     font-weight: bold;
//     color: #000; 
//   }
  
  .copyright-input {
    border: 2px solid green; 
    background-color:rgb(243, 16, 16);
    color:white;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    height: 50px;
    width: 400px;
    font-size: 16px; 
    border-radius: 8px; 
  }
  