  

.header-image {
  max-width: 210px;
  height: 60px;
  margin: auto;
  text-align: center;
  background-image: url("/assets/logo1.jpg");
  background-size: cover; 
  background-position: left; 
  margin-bottom:-130px; 
  margin-top: 30px;
}






