.notification-table {
  border-collapse: collapse;
  width: 100%;
}

.notification-table th, .notification-table td {
  border: 2px solid #000; 
  padding: 8px; 
}

.notification-row {
  background-color: #f2f2f2; 
}

.notification-row:nth-child(even) {
  background-color: #fff; 
}
 .addicon{
  transform: scale(2);
  margin-left:330px;
 }
 .notification-button {
  background-color:#fbce07;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius:10px;
  font-size: large;
  cursor: pointer;
  margin-left:100px;
  margin-top: 10px;
}
.notification-button:hover {
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 2px solid red; 
}
.input-container {
  margin-bottom: 20px; 
  font-weight: bold;
  color:red;
}

label {
  display: block; 
  margin-bottom: 5px; 
}

input[type="text"],
textarea {
  width: 100%; 
  padding: 8px;
  border: 1px solid black;
  border-width: 2px; 
  border-radius: 5px; 
  box-sizing: border-box; 
}
textarea {
  resize: vertical; 
}
.edit-icon {
  color: orange; 
  align-items: center;
  display: inline-block; 
}

.delete-icon {
  color: red;  
}
.save, .cancel {
  width: 100%; 
  margin-right: 10px; 
  padding: 8px;
  border: 2px solid black;
  border-width: 2px; 
  border-radius: 5px; 
  box-sizing: border-box; 
  font-size: medium;
  background-color: #fbce07;
  font-weight: bold;
}
