.example-full-width {
  margin-top: 3vw;
  margin-left: 4vw;
  margin-right: 4vw;
}

.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31vw;
  height: 6vh;
  text-align: center;
  margin: 1vh auto;
  padding: 0 4vw;
  border-radius: 20px;
  font-size: medium;
  font-family: "Capriola", sans-serif;
  font-weight: bold;
  background-color: #fbce07;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.primary-button:hover {
  background-color: #e0ac00;
  transform: scale(1.05);
}

.primary-button mat-icon {
  margin-right: 0.5em;
}

@media screen and (max-width: 768px) {
  .primary-button {
    width: 60vw;
    height: 40px;
    margin: 1vh auto;
    padding: 0 10px;
    border: 2px solid black;
    border-radius: 40px;
    font-size: large;
    background-color: #fbce07;
  }
}

@media screen and (max-width: 480px) {
  .primary-button {
    width: 80vw;
    font-size: small;
  }
}

.retailer-details {
  display: flex;
  align-items: center;
  margin-top: 1vh;
  margin-left: 2vw;
}

.account-circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.retailer-name {
  margin-top: 3px;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.retailer-address {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  align-items: flex-start;
  justify-content: left;
}

.retailer-label {
  display: block;
  margin-bottom: 5px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.container {
  display: flex;
  align-items: center;
}

.retailer-box {
  width: 90%;
  max-width: 400px;
  height: auto;
  margin: 2vh auto;
  font-weight: bold;
  border: 1px solid #fbce07;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
}

.searchfilter {
  width: 100%;
  transform: scale(0.85);
  margin-top: -2vh;
}

.Datepicker {
  width: 100%;
  transform: scale(0.85);
  margin-top: -2vh;
}

.no-data-found {
  color: red;
  font-size: 2vw;
  margin-top: 5vh;
  text-align: center;
}

.count {
  color: black;
  font-weight: bold;
  margin-top: 1vh;
  margin-left: 1vw;
  font-family: 'Lucida Sans', sans-serif;
}

.red-text {
  color: red;
  font-weight: bold;
  font-size: medium;
}

.display {
  background-color: transparent;
  border: none;
  outline: none;
}
