.info-item{
  color: black;
  font-size: 16px;
  margin-top:5px;
  margin-left:44px;
}
.info-item1{
  color: black;
  font-size:16px;
  align-items: center;
  margin-left:44px;

}
.icon-container {
  display: flex;
  justify-content: center; 
  align-items: center;
}
.profile{
  border-radius:500px !important;
  width:100px;
  height:100px;
  margin-top:20px;
} 