.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc; 
  padding: 10px; 
}

.back-button {
  align-self: flex-start; 
  border: none;
  background: none;
}

.arrow-icon {
  color: black;
  transform: scale(1.5);
}


.heading {
font-size: 20px;
margin-left:85px;
color:red;
font-weight: bold;
}

.info {
  margin-bottom: 20px; 
  margin-left: 85px;
}

.info-item {
  margin-bottom: 10px; 
}

.label {
  font-weight: bold;
}

.table {
  width:50%; 
}
.header {
  color: red;
  font-weight: bold;
}
