.sales-reports {
    list-style-type: none;
    padding: 0;
  }
  
  .sales-report-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .report-details {
    font-size: 16px;
  }
  
  .report-details p {
    margin: 5px 0;
  }
  
  .report-details strong {
    font-weight: bold;
  }
  .searchfilter{
    width:100%;
    transform: scale(0.85);
  }
  .heading{
    margin-left:130px;
    color: red;
    font-weight: bold;
  }
 .area{
  transform: scale(0.85);
  width:300px;
  height:100px;
 }
 .red-letter {
  color: red;
}

